-- MySQL dump 10.13  Distrib 8.0.19, for Win64 (x86_64)
--
-- Host: localhost    Database: yelp_db
-- ------------------------------------------------------
-- Server version	8.0.19

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `yelp_davis`
--

DROP TABLE IF EXISTS `yelp_davis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `yelp_davis` (
  `Name` varchar(255) DEFAULT NULL,
  `Address` varchar(255) DEFAULT NULL,
  `Category` varchar(255) DEFAULT NULL,
  `Price` varchar(255) DEFAULT NULL,
  `Rating` varchar(255) DEFAULT NULL,
  `Reviews` varchar(255) DEFAULT NULL,
  `Mon` varchar(255) DEFAULT NULL,
  `Tue` varchar(255) DEFAULT NULL,
  `Wed` varchar(255) DEFAULT NULL,
  `Thu` varchar(255) DEFAULT NULL,
  `Fri` varchar(255) DEFAULT NULL,
  `Sat` varchar(255) DEFAULT NULL,
  `Sun` varchar(255) DEFAULT NULL,
  `Health_Score` varchar(255) DEFAULT NULL,
  `Wi_Fi` varchar(255) DEFAULT NULL,
  `Smoking` varchar(255) DEFAULT NULL,
  `Delivery` varchar(255) DEFAULT NULL,
  `Take_out` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yelp_davis`
--

LOCK TABLES `yelp_davis` WRITE;
/*!40000 ALTER TABLE `yelp_davis` DISABLE KEYS */;
/*!40000 ALTER TABLE `yelp_davis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `yelp_los_angeles`
--

DROP TABLE IF EXISTS `yelp_los_angeles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `yelp_los_angeles` (
  `Name` varchar(255) DEFAULT NULL,
  `Address` varchar(255) DEFAULT NULL,
  `Category` varchar(255) DEFAULT NULL,
  `Price` varchar(255) DEFAULT NULL,
  `Rating` varchar(255) DEFAULT NULL,
  `Reviews` varchar(255) DEFAULT NULL,
  `Mon` varchar(255) DEFAULT NULL,
  `Tue` varchar(255) DEFAULT NULL,
  `Wed` varchar(255) DEFAULT NULL,
  `Thu` varchar(255) DEFAULT NULL,
  `Fri` varchar(255) DEFAULT NULL,
  `Sat` varchar(255) DEFAULT NULL,
  `Sun` varchar(255) DEFAULT NULL,
  `Health_Score` varchar(255) DEFAULT NULL,
  `Wi_Fi` varchar(255) DEFAULT NULL,
  `Smoking` varchar(255) DEFAULT NULL,
  `Delivery` varchar(255) DEFAULT NULL,
  `Take_out` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yelp_los_angeles`
--

LOCK TABLES `yelp_los_angeles` WRITE;
/*!40000 ALTER TABLE `yelp_los_angeles` DISABLE KEYS */;
/*!40000 ALTER TABLE `yelp_los_angeles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `yelp_san_diego`
--

DROP TABLE IF EXISTS `yelp_san_diego`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `yelp_san_diego` (
  `Name` varchar(255) DEFAULT NULL,
  `Address` varchar(255) DEFAULT NULL,
  `Category` varchar(255) DEFAULT NULL,
  `Price` varchar(255) DEFAULT NULL,
  `Rating` varchar(255) DEFAULT NULL,
  `Reviews` varchar(255) DEFAULT NULL,
  `Mon` varchar(255) DEFAULT NULL,
  `Tue` varchar(255) DEFAULT NULL,
  `Wed` varchar(255) DEFAULT NULL,
  `Thu` varchar(255) DEFAULT NULL,
  `Fri` varchar(255) DEFAULT NULL,
  `Sat` varchar(255) DEFAULT NULL,
  `Sun` varchar(255) DEFAULT NULL,
  `Health_Score` varchar(255) DEFAULT NULL,
  `Wi_Fi` varchar(255) DEFAULT NULL,
  `Smoking` varchar(255) DEFAULT NULL,
  `Delivery` varchar(255) DEFAULT NULL,
  `Take_out` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yelp_san_diego`
--

LOCK TABLES `yelp_san_diego` WRITE;
/*!40000 ALTER TABLE `yelp_san_diego` DISABLE KEYS */;
/*!40000 ALTER TABLE `yelp_san_diego` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `yelp_san_jose`
--

DROP TABLE IF EXISTS `yelp_san_jose`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `yelp_san_jose` (
  `Name` varchar(255) DEFAULT NULL,
  `Address` varchar(255) DEFAULT NULL,
  `Category` varchar(255) DEFAULT NULL,
  `Price` varchar(255) DEFAULT NULL,
  `Rating` varchar(255) DEFAULT NULL,
  `Reviews` varchar(255) DEFAULT NULL,
  `Mon` varchar(255) DEFAULT NULL,
  `Tue` varchar(255) DEFAULT NULL,
  `Wed` varchar(255) DEFAULT NULL,
  `Thu` varchar(255) DEFAULT NULL,
  `Fri` varchar(255) DEFAULT NULL,
  `Sat` varchar(255) DEFAULT NULL,
  `Sun` varchar(255) DEFAULT NULL,
  `Health_Score` varchar(255) DEFAULT NULL,
  `Wi_Fi` varchar(255) DEFAULT NULL,
  `Smoking` varchar(255) DEFAULT NULL,
  `Delivery` varchar(255) DEFAULT NULL,
  `Take_out` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yelp_san_jose`
--

LOCK TABLES `yelp_san_jose` WRITE;
/*!40000 ALTER TABLE `yelp_san_jose` DISABLE KEYS */;
/*!40000 ALTER TABLE `yelp_san_jose` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2020-03-14  1:08:44
